:root {
  --primary-color: #202630;
  --seconary-color: #924fff;
  --text-color: #e8e8e8;
  --main-font: "Montserrat", sans-serif;
}

h1 {
  font-family: var(--main-font);
  font-weight: bold;
  color: var(--text-color);
  font-size: 50px;
}
h2 {
  font-family: var(--main-font);
  font-weight: regular;
  color: var(--seconary-color);
}
body {
  background-color: var(--primary-color);
}
.hero {
  margin-top: 260px;
  margin-left: 100px;
}

.headshot {
  max-width: 320px;
  margin-left: 750px;
  margin-top: -280px;
  background-color: #e8e8e8;
  box-shadow: 15px 15px 0px 1px var(--seconary-color);
}
