h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #e8e8e8;
  font-size: 50px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: regular;
  color: #924fff;
}
body {
  background-color: #202630;
}
.intro {
  margin-top: 300px;
  margin-left: 30px;
}

.headshot {
  max-width: 320px;
  margin-top: -230px;
  margin-left: 840px;
  background-color: #e8e8e8;
  box-shadow: 1px 1px 9px 1px #202630;
}
